
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

footer .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-left: 20px;
}

footer ul {
  margin-right: 50px;
}
footer li {
  list-style: none;
  margin-top: 15px
}

footer a {
  color: #000;
  text-decoration: none;
}

footer .copyright {
  margin-top: 20px;
  border-top: #ddd 5px solid;
  padding-top: 20px;
  font-size: 0.8em;
  text-align: center;
}

footer .logo img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
  filter: invert(80%);
}

/* media query mobile */
@media only screen and (max-width: 430px) {
  footer .footer-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  footer .footer-links {
    margin: 0 0 20px 0;
  }
  footer ul {
    margin-right: 0;
  }
  .links {
    margin-left: 50px;
  }
  footer .logo img{
    margin-top: 20px;
    margin-left: 0;
  }
}
