.jumbo {
  background-image: url(../img/jumbo-bg.jpg);
  background-size: cover;
  background-position: center;
  background-color: black;
  height: calc(100vh - 82px);
}

.jumbo > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbo h1 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  text-shadow: #333 1px 0 15px;
}

.jumbo .cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.jumbo .cta {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 15em;
  background-color: #333;
  color: #fff;
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: #666 0 0 5px;
  text-decoration: none;
  font-size: 2em;
}

.jumbo .cta:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
  box-shadow: #999 0 0 15px;
  font-weight: bold;
}

/* media query mobile */
@media only screen and (max-width: 430px) {
  .jumbo h1 {
    font-size: 3em;
  }
  .jumbo .cta {
    font-size: 1em;
  }
  .jumbo .cta-container {
    flex-direction: column;
    justify-content: center;
  }
  
}