
/* import GoogleFonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


@import "navbar.css";
@import "footer.css";

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* commons */
html{scroll-behavior:smooth}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #ddd;
  padding-top: 80px;
}

header {
  border-bottom: 2px solid #666;
  background-color: #aaa;
  position: fixed;
  top: 0;
  width: 100vw;
}

footer {
  border-top: 2px solid #666;
  background-color: #aaa;
  padding: 50px 0 20px 0;
}

a:hover {
  color: #fff;
}
a > img:hover {
  opacity: 0.8;
}