#more {
  border-top: #bbbbbbaa 2px solid;
  padding: 50px 0;
}

#more > div {
  text-align: center;
}

#more .card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#more h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

#more .card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #aaa;
  box-shadow: 0 0 10px #000000f0;
}
#more .card h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
