nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin: 0 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
  padding: 0.5em;
  font-weight: bold;
}

nav .logo img {
  width: 50px;
  height: 50px;
  margin-left: 40px;
  filter: invert(80%);
}

.menu i {
  display: none;
}

/* media query mobile */
@media only screen and (max-width: 430px) {
  .menu ul {
    display: none;
  }
  .menu i {
    display: block;
    margin: 0 40px;
  }
}